<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
   
   <servlet>
   <servlet-name>Login</servlet-name>
   <servlet-class>com.bridgelabz.LoginPage.Login</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>Login</servlet-name>
   <url-pattern>/Login</url-pattern>
   </servlet-mapping>
   
   <servlet>
   <servlet-name>SignUp</servlet-name>
   <servlet-class>com.bridgelabz.SignUpPage.SignUp</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SignUp</servlet-name>
   <url-pattern>/SignUp</url-pattern>
   </servlet-mapping>
   
   <servlet>
   <servlet-name>Reset</servlet-name>
   <servlet-class>com.bridgelabz.LoginPage.forgotPassword.forgotPassword</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>Reset</servlet-name>
   <url-pattern>/forgot</url-pattern>
   </servlet-mapping>
   
    <servlet>
   <servlet-name>logout</servlet-name>
   <servlet-class>com.bridgelabz.user.Welcome</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>logout</servlet-name>
   <url-pattern>/logout</url-pattern>
   </servlet-mapping>
 <welcome-file-list><welcome-file>LoginPage.jsp</welcome-file></welcome-file-list>
</web-app>